{% extends "base.html" %}
{% block title %}{{ _("Downloads") }} | {% endblock %}
{% block path %}/downloads{% endblock %}

{% block content %}

<h1>{{ _("Latest downloads") }}</h1>


<div class="downloadscontainer">
  <p>{{ _("Get the latest stable version of Clementine for your operating system.") }}</p>

  {% if best_download %}
    {% with d = best_download %}
    <a href="{{ d.url }}" class="best-download thindownload">
      <img class="icon" src="/images/{{ d.os_logo }}" alt="">
      <span class="version">
        {{ d.ver }}
      </span>
      <p class="os">
        {{ d.display_os }}
      </p>
      {% if d.arch %}
        <p class="arch">
          {{ d.arch }}-bit
        </p>
      {% endif %}
    </a>
    {% endwith %}
    <div style="clear: both"></div>

    <p>
      {{ _("Downloads for other operating systems") }}
    </p>
  {% endif %}

  {% for d in latest_downloads|sort(attribute="os") %}
    <a class="thindownload" href="{{ d.url }}">
      <img class="icon" src="/images/{{ d.os_logo }}" alt="" />
      <span class="version">{{ d.ver }}</span>
      <p class="os">
        {{ d.display_os }}
      </p>
      {% if d.arch %}
        <p class="arch">
          {{ d.arch }}-bit
        </p>
      {% endif %}
    </a>
  {% endfor %}
</div>

<div style="clear:both;"></div>
<h2>{{ _("Ubuntu PPA") }}</h2>

<p>{{ _("You can download the latest version of Clementine on Ubuntu from the official PPA:") }}</p>

<pre>sudo add-apt-repository ppa:me-davidsansome/clementine
sudo apt-get update
sudo apt-get install clementine</pre>

<h2>{{ _("Dependencies for Ubuntu Precise (12.04)") }}</h2>
<p>{{ _("New versions of Clementine require GStreamer 1.0 which wasn't included in Ubuntu 12.04.  If you get errors installing Clementine you should add the GStreamer PPA as well:") }}</p>
<pre>sudo add-apt-repository ppa:gstreamer-developers/ppa</pre>

<div style="clear:both;"></div>
<hr class="division" />
<h1>{{ _("Other Downloads") }}</h1>

<h2>{{ _("Clementine Remote for Android")}}</h2>

<div class="downloadscontainer">
  {%include "android-download.html" %}
</div>
<div style="clear:both;"></div>

<h2>{{ _("Unofficial packages") }}</h2>

<p>{{ _("If you don't see your distribution listed above then someone else might have created an unofficial package for you.") }}</p>

<ul>
  <li><a href="https://github.com/clementine-player/Clementine/wiki/Other-Downloads">
    {{ _("Other Downloads") }}</a>
  </li>
</ul>

<h2>{{ _("Compiling from source") }}</h2>

<p>{{ _("Compiling Clementine from source is easy on Linux.") }}
{{ _("Download the source code package from the list above, and in a terminal window:") }}</p>

<pre dir="ltr">cd bin
cmake ..
make
sudo make install</pre>

<ul>
  <li><a href="https://github.com/clementine-player/Clementine/wiki/Compiling-from-Source">
    {{ _("Full instructions and list of dependencies") }}</a>
  </li>
</ul>

<h2>{{ _("Bleeding edge packages") }}</h2>

<p>{{ _("Development on Clementine happens in") }}
<a href="https://github.com/clementine-player/Clementine">
{{ _("the git repository") }}</a>.
{{ _("Check out the code by running:") }}</p>

<pre>git clone https://github.com/clementine-player/Clementine.git clementine-player</pre>

<p>{{ _("If you'd prefer not to compile the development version yourself then try one of the hourly packages:") }}</p>

{# THIS LIST IS DUPLICATED IN participate.html #}
<ul>
  <li><a href="http://builds.clementine-player.org/mac/">
    {{ _("Mac OS X development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-precise/">
    {{ _("Ubuntu Precise (12.04) development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-trusty/">
    {{ _("Ubuntu Trusty (14.04) development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/win32/">
    {{ _("Windows development builds") }}</a></li>
  <li><a href="http://buildbot.clementine-player.org/grid">
    {{ _("Buildbot") }}</a></li>
</ul>

<p>{{ _("There's also an Ubuntu PPA for these development builds:") }}</p>

<pre>sudo add-apt-repository ppa:me-davidsansome/clementine-dev
sudo apt-get update
sudo apt-get install clementine</pre>


<hr class="division" />
<h1>{{ _("Old downloads") }}</h1>

{% set last_version = '' %}
{% for d in old_downloads|sort(attribute="ver")|reverse %}
  {% if last_version != d.ver %}
    {%if not loop.first %}
      </ul>
    {% endif %}
    <h2>{{ _("Version") }} {{ d.ver }}</h2>
    <ul>
  {% endif %}
  {%set last_version = d.ver %}

  <li>
    <a href="{{ d.url }}">
      {{ d.display_os }}
      {% if d.arch %}
        {{ d.arch }}-bit
      {% endif %}
    </a>
  </li>

  {% if loop.last %}
    </ul>
  {% endif %}
{% endfor %}

{% endblock %}
