{% extends "base.html" %}
{% block title %}{{ _("Downloads") }} | {% endblock %}
{% block path %}/downloads{% endblock %}

{% block content %}

<h1>{{ _("Latest downloads") }}</h1>


<div class="downloadscontainer">
  <p>{{ _("Get the latest stable version of Clementine for your operating system.") }}</p>

  {% if best_download %}
    {% with d = best_download %}
    <div class="best-download thindownload">
      <a href="{{ download_base_url }}{{ d.name }}">
        <img class="icon" src="/images/{{ d.os_logo }}">
      </a>
      <span class="version">
        <a href="{{ download_base_url }}{{ d.name }}">
          {{ d.ver }}
        </a>
      </span>
      <p class="os">
        <a href="{{ download_base_url }}{{ d.name }}" dir="ltr">
          {{ d.display_os }}
        </a>
      </p>
      {% if d.arch %}
        <p class="arch">
          <a href="{{ download_base_url }}{{ d.name }}" dir="ltr">
            {{ d.arch }}-bit
          </a>
        </p>
      {% endif %}
    </div>
    {% endwith %}
    <div style="clear: both"></div>

    <p>
      {{ _("Downloads for other operating systems") }}
    </p>
  {% endif %}

  {% for d in latest_downloads|sort(attribute="os") %}
    <div class="thindownload" onclick="javascript:self.location='{{ download_base_url }}{{ d.name }}'">
      <a href="{{ download_base_url }}{{ d.name }}">
        <img class="icon" src="/images/{{ d.os_logo }}" />
      </a>
      <span class="version"><a href="{{ download_base_url }}{{ d.name }}">{{ d.ver }}</a></span>
      <p class="os">
        <a href="{{ download_base_url }}{{ d.name }}" dir="ltr">
          {{ d.display_os }}
        </a>
      </p>
      {% if d.arch %}
        <p class="arch">
          <a href="{{ download_base_url }}{{ d.name }}" dir="ltr">
            {{ d.arch }}-bit
          </a>
        </p>
      {% endif %}
    </div>
  {% endfor %}
</div>

<div style="clear:both;"></div>
<h2>{{ _("Ubuntu PPA") }}</h2>

<p>{{ _("You can download the latest version of Clementine on Ubuntu from the official PPA:") }}</p>

<pre>sudo add-apt-repository ppa:me-davidsansome/clementine
sudo apt-get update
sudo apt-get install clementine</pre>

<div style="clear:both;"></div>
<hr class="division" />
<h1>{{ _("Other Downloads") }}</h1>

<h2>{{ _("Clementine Remote for Android")}}</h2>

<div class="downloadscontainer">
  {%include "android-download.html" %}
</div>
<div style="clear:both;"></div>

<h2>{{ _("Unofficial packages") }}</h2>

<p>{{ _("If you don't see your distribution listed above then someone else might have created an unofficial package for you.") }}</p>

<ul>
  <li><a href="http://code.google.com/p/clementine-player/wiki/OtherDownloads">
    {{ _("Other Downloads") }}</a>
  </li>
</ul>

<h2>{{ _("Compiling from source") }}</h2>

<p>{{ _("Compiling Clementine from source is easy on Linux.") }}
{{ _("Download the source code package from the list above, and in a terminal window:") }}</p>

<pre dir="ltr">cd bin
cmake ..
make
sudo make install</pre>

<ul>
  <li><a href="http://code.google.com/p/clementine-player/wiki/CompilingFromSource">
    {{ _("Full instructions and list of dependencies") }}</a>
  </li>
</ul>

<h2>{{ _("Bleeding edge packages") }}</h2>

<p>{{ _("Development on Clementine happens in") }}
<a href="http://code.google.com/p/clementine-player/source/checkout">
{{ _("the git repository") }}</a>.
{{ _("Check out the code by running:") }}</p>

<pre>git clone https://code.google.com/p/clementine-player/ clementine-player</pre>

<p>{{ _("If you'd prefer not to compile the development version yourself then try one of the hourly packages:") }}</p>

{# THIS LIST IS DUPLICATED IN participate.html #}
<ul>
  <li><a href="http://builds.clementine-player.org/mac/">
    {{ _("Mac OS X development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-precise/">
    {{ _("Ubuntu Precise (12.04) development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-quantal/">
    {{ _("Ubuntu Quantal (12.10) development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-raring/">
    {{ _("Ubuntu Raring (13.04) development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/win32/">
    {{ _("Windows development builds") }}</a></li>
  <li><a href="http://buildbot.clementine-player.org/waterfall">
    {{ _("Buildbot") }}</a></li>
</ul>

<p>{{ _("There's also an Ubuntu PPA for these development builds:") }}</p>

<pre>sudo add-apt-repository ppa:me-davidsansome/clementine-dev
sudo apt-get update
sudo apt-get install clementine</pre>


<hr class="division" />
<h1>{{ _("Old downloads") }}</h1>

{% set last_version = '' %}
{% for d in old_downloads|sort(attribute="ver")|reverse %}
  {% if last_version != d.ver %}
    {%if not loop.first %}
      </ul>
    {% endif %}
    <h2>{{ _("Version") }} {{ d.ver }}</h2>
    <ul>
  {% endif %}
  {%set last_version = d.ver %}

  <li>
    <a href="{{ download_base_url }}{{ d.name }}">
      {{ d.display_os }}
      {% if d.arch %}
        {{ d.arch }}-bit
      {% endif %}
    </a>
  </li>

  {% if loop.last %}
    </ul>
  {% endif %}
{% endfor %}

{% endblock %}
