{% extends "base.html" %}
{% block title %}{{ _("Downloads") }} | {% endblock %}
{% block path %}/downloads{% endblock %}

{% block content %}

<h1>{{ _("Latest downloads") }}</h1>


<div class="downloadscontainer">
  <p>{{ _("Get the latest stable version of Clementine for your operating system.") }}</p>

  {% if best_download or latest_downloads %}
    <p class="version-heading">{{ _("Version") }} {{ (best_download or latest_downloads[0]).ver }}</p>
  {% endif %}

  {% if best_download %}
    {% with d = best_download %}
    <a href="{{ d.url }}" class="best-download thindownload">
      <img class="icon" src="/images/{{ d.os_logo }}" alt="">
      <p class="os">
        {{ d.display_os }}
      </p>
      {% if d.arch %}
        <p class="arch">
          {{ d.arch }}-bit
        </p>
      {% endif %}
    </a>
    {% endwith %}
    <div style="clear: both"></div>

    <p>
      {{ _("Downloads for other operating systems") }}
    </p>
  {% endif %}

  {% for family, items in latest_downloads|sort(attribute="display_os")|groupby("family_display") %}
    <h2 style="clear: both;">{{ family }}</h2>
    {% for d in items %}
      <a class="thindownload" href="{{ d.url }}">
        <img class="icon" src="/images/{{ d.os_logo }}" alt="" />
        <p class="os">
          {{ d.display_os }}
        </p>
        {% if d.arch %}
          <p class="arch">
            {{ d.arch }}-bit
          </p>
        {% endif %}
      </a>
    {% endfor %}
  {% endfor %}
</div>

<div style="clear:both;"></div>
<h2>{{ _("Ubuntu PPA") }}</h2>

<p>{{ _("You can download the latest version of Clementine on Ubuntu from the official PPA:") }}</p>

<pre>sudo add-apt-repository ppa:me-davidsansome/clementine
sudo apt-get update
sudo apt-get install clementine</pre>

<h2>{{ _("Dependencies for Ubuntu Precise (12.04)") }}</h2>
<p>{{ _("New versions of Clementine require GStreamer 1.0 which wasn't included in Ubuntu 12.04.  If you get errors installing Clementine you should add the GStreamer PPA as well:") }}</p>
<pre>sudo add-apt-repository ppa:gstreamer-developers/ppa</pre>

<div style="clear:both;"></div>
<hr class="division" />
<h1>{{ _("Other Downloads") }}</h1>

<h2>{{ _("Clementine Remote for Android")}}</h2>

<div class="downloadscontainer">
  {%include "android-download.html" %}
</div>
<div style="clear:both;"></div>

<h2>{{ _("Unofficial packages") }}</h2>

<p>{{ _("If you don't see your distribution listed above then someone else might have created an unofficial package for you.") }}</p>

<ul>
  <li><a href="https://github.com/clementine-player/Clementine/wiki/Other-Downloads">
    {{ _("Other Downloads") }}</a>
  </li>
</ul>

<h2>{{ _("Compiling from source") }}</h2>

<p>{{ _("Compiling Clementine from source is easy on Linux.") }}
{{ _("Download the source code package from the list above, and in a terminal window:") }}</p>

<pre dir="ltr">cd bin
cmake ..
make
sudo make install</pre>

<ul>
  <li><a href="https://github.com/clementine-player/Clementine/wiki/Compiling-from-Source">
    {{ _("Full instructions and list of dependencies") }}</a>
  </li>
</ul>

<hr class="division" />
<h3>Notes</h3>
<a href="https://www.raspberrypi.org">Raspberry Pi is a trademark of the Raspberry Pi Foundation</a>

{% endblock %}
