{% extends "base.html" %}
{% load i18n %}
{% block path %}/{% endblock %}

{% block content %}
<h1>{% trans "About &amp; Features" %}</h1>

<div style="float: right; margin-top: 15px; width: 50%;" id="features">
  <ul>
    <li>{% trans "Search and play your local music library." %}</li>
    <li>{% trans "Listen to internet radio from" %}
      <a href="http://www.spotify.com/">Spotify</a>,
      <a href="http://grooveshark.com/">Grooveshark</a>,
      <a href="http://last.fm/">Last.fm</a>,
      <a href="http://somafm.com/">SomaFM</a>,
      <a href="http://magnatune.com/">Magnatune</a>,
      <a href="http://www.jamendo.com/">Jamendo</a>,
      <a href="http://www.sky.fm/">SKY.fm</a> {% trans "and" %} <a href="http://www.di.fm/">Digitally Imported</a>,
      {% trans "and" %}
      <a href="http://dir.xiph.org/">Icecast</a>.
    </li>
    <li>{% trans "Create smart playlists and dynamic playlists." %}</li>
    <li>{% trans "Tabbed playlists, import and export M3U, XSPF, PLS and ASX." %}</li>
    <li>{% trans "CUE sheet support." %}</li>
    <li>{% trans "Play audio CDs." %}</li>
    <li>{% trans "Visualisations from" %} <a href="http://projectm.sourceforge.net/">projectM</a>.</li>
    <li>{% trans "Lyrics and artist biographies and photos." %}</li>
    <li>{% trans "Transcode music into MP3, Ogg Vorbis, Ogg Speex, FLAC or AAC." %}</li>
    <li>{% trans "Edit tags on MP3 and OGG files, organise your music." %}</li>
    <li>{% trans "Fetch missing tags from MusicBrainz." %}</li>
    <li>{% trans "Download missing album cover art from Last.fm and Amazon." %}</li>
    <li>{% trans "Cross-platform - works on Windows, Mac OS X and Linux." %}</li>
    <li>{% trans "Native desktop notifications on Linux (libnotify) and Mac OS X (Growl)." %}</li>
    <li>{% trans "Remote control using a" %} <a href="http://code.google.com/p/clementine-player/wiki/WiiRemotes">{% trans "Wii Remote" %}</a>, {% trans "MPRIS or the command-line." %}</li>
    <li>{% trans "Copy music to your" %} <a href="http://code.google.com/p/clementine-player/wiki/PortableDevices">{% trans "iPod, iPhone, MTP or mass-storage USB player." %}</a></li>
    <li>{% trans "Queue manager." %}</li>
  </ul>
</div>

<p style="font-size: 24px; line-height: 30px;">
  <span style="font-weight: bold; color: rgb(253, 145, 70);">Clementine</span>
  {% trans "is a modern music player and library organizer" %}
</p>

<p>
  {% trans "Clementine is a multiplatform music player." %}
  {% trans "It is inspired by" %} <a href="http://amarok.kde.org/">Amarok 1.4</a>,
  {% trans "focusing on a fast and easy-to-use interface for searching and playing your music." %}
</p>

<div id="download-block">
  {% if best_download %}
    <div onclick="location.href='{{ download_base_url }}{{ best_download.name }}';" id="download-button">
      <p id="download-title">Clementine <span id="download-version">{{ best_download.ver }}</span></p>
      <p>{% trans "Download the latest version now" %}</p>
      <img src="/images/{{ best_download.os_logo }}" id="download-logo" alt="{% trans "Download Clementine" %}" />
      <p id="download-os">{{ best_download.short_os }}</p>
      {% if best_download.arch %}
        <p id="download-arch">{{ best_download.arch }}-bit</p>
      {% endif %}
  {% else %}
    <div onclick="location.href='downloads';" id="download-button">
      <p id="download-title">Clementine <span id="download-version">{{ latest_version }}</span></p>
      <p>{% trans "Download the latest version now" %}</p>
      <p>{% trans "for Windows, Mac OS X and Linux" %}</p>
  {% endif %}
  </div>

  <div id="download-otherlinks">
    <a href="#news">{% trans "Announcement" %}</a> -
    <a href="http://code.google.com/p/clementine-player/source/browse/Changelog">{% trans "Changelog" %}</a> -
    <a href="downloads">{% trans "Show all downloads" %}</a>
  </div>
</div>

<div style="clear: both;"></div>

<hr class="division" />

<h1>{% trans "Screenshots" %}</h1>

<table>
{% for entry in latest_screenshots %}
  {% if not forloop.counter|divisibleby:"2" %}
    <tr>
  {% endif %}
  <td class="screenshot">
    <a href="http://images.clementine-player.org/screenshots/{{ entry.file }}">
      <img src="http://images.clementine-player.org/thumbnails/{{ entry.file }}" width="440" />
    </a>
    <p>{{ entry.title }}</p>
  </td>
  {% if forloop.counter|divisibleby:"2" or forloop.last %}
    </tr>
  {% endif %}
{% endfor %}
</table>

<div style="clear: both;"></div>

<hr class="division" />

<h1>{% trans "News" %}</h1>
<a name="news"></a>

{% for n in news|dictsortreversed:"timestamp" %}
  <div>
    <h3>{{ n.title }} - {{ n.datetime|date:"l j F Y" }}</h3>

    <p class="content">{{ n.content|safe }}</p>
  </div>
{% endfor %}
{% endblock %}
