{% extends "base.html" %}
{% block path %}/{% endblock %}

{% block content %}
<h1>{{ _("About &amp; Features") }}</h1>

<div id="features">
  <ul>
    <li>{{ _("Search and play your local music library.") }}</li>
    <li>{{ _("Listen to internet radio from") }}
      <a href="http://www.spotify.com/">Spotify</a>,
      <a href="http://grooveshark.com/">Grooveshark</a>,
      <a href="http://last.fm/">Last.fm</a>,
      <a href="http://somafm.com/">SomaFM</a>,
      <a href="http://magnatune.com/">Magnatune</a>,
      <a href="http://www.jamendo.com/">Jamendo</a>,
      <a href="http://www.sky.fm/">SKY.fm</a>,
      <a href="http://www.di.fm/">Digitally Imported</a>,
      <a href="http://www.jazzradio.com/">JAZZRADIO.com</a>,
      <a href="http://soundcloud.com/">Soundcloud</a>,
      <a href="http://dir.xiph.org/">Icecast</a>
      {{ _("and") }}
      <a href="http://www.subsonic.org/">Subsonic servers</a>.
    </li>
    <li>{{ _("Search and play songs you've uploaded to") }}
      <a href="https://www.box.com/">Box</a>,
      <a href="https://www.dropbox.com/">Dropbox</a>,
      <a href="http://drive.google.com/start">Google Drive</a>,
      <a href="https://skydrive.live.com/">Skydrive</a>
      {{ _("and") }}
      <a href="https://one.ubuntu.com/">Ubuntu One</a>.
    </li>
    <li>{{ _("Create smart playlists and dynamic playlists.") }}</li>
    <li>{{ _("Tabbed playlists, import and export M3U, XSPF, PLS and ASX.") }}</li>
    <li>{{ _("CUE sheet support.") }}</li>
    <li>{{ _("Play audio CDs.") }}</li>
    <li>{{ _("Visualisations from") }} <a href="http://projectm.sourceforge.net/">projectM</a>.</li>
    <li>{{ _("Lyrics and artist biographies and photos.") }}</li>
    <li>{{ _("Transcode music into MP3, Ogg Vorbis, Ogg Speex, FLAC or AAC.") }}</li>
    <li>{{ _("Edit tags on MP3 and OGG files, organise your music.") }}</li>
    <li>{{ _("Fetch missing tags from MusicBrainz.") }}</li>
    <li>{{ _("Discover and download Podcasts.") }}</li>
    <li>{{ _("Download missing album cover art from Last.fm and Amazon.") }}</li>
    <li>{{ _("Cross-platform - works on Windows, Mac OS X and Linux.") }}</li>
    <li>{{ _("Native desktop notifications on Linux (libnotify) and Mac OS X (Growl).") }}</li>
    <li>{{ _("Remote control using an") }} <a href="https://play.google.com/store/apps/details?id=de.qspool.clementineremote">{{ _("Android device") }}</a>, <a href="https://github.com/clementine-player/Clementine/wiki/Wii-Remotes">{{ _("a Wii Remote") }}</a>, {{ _("MPRIS or the command-line.") }}</li>
    <li>{{ _("Copy music to your") }} <a href="https://github.com/clementine-player/Clementine/wiki/Portable-Devices">{{ _("iPod, iPhone, MTP or mass-storage USB player.") }}</a></li>
    <li>{{ _("Queue manager.") }}</li>
  </ul>
</div>

<p style="font-size: 24px; line-height: 30px;">
  <span style="font-weight: bold; color: rgb(253, 145, 70);">Clementine</span>
  {{ _("is a modern music player and library organizer") }}
</p>

<p>
  {{ _("Clementine is a multiplatform music player.") }}
  {{ _("It is inspired by") }} <a href="http://amarok.kde.org/">Amarok 1.4</a>,
  {{ _("focusing on a fast and easy-to-use interface for searching and playing your music.") }}
</p>

<div id="download-block">
  {% if best_download %}
    <a href="{{ best_download.url }}" id="download-button">
      <p id="download-title">Clementine <span id="download-version">{{ best_download.ver }}</span></p>
      <p>{{ _("Download the latest version now") }}</p>
      <img src="/images/{{ best_download.os_logo }}" id="download-logo" alt="{{ _("Download Clementine") }}" />
      <p id="download-os">{{ best_download.short_os }}</p>
      {% if best_download.arch %}
        <p id="download-arch">{{ best_download.arch }}-bit</p>
      {% endif %}
  {% else %}
    <a href="downloads" id="download-button">
      <p id="download-title">Clementine <span id="download-version">{{ latest_version }}</span></p>
      <p>{{ _("Download the latest version now") }}</p>
      <p>{{ _("for Windows, Mac OS X and Linux") }}</p>
  {% endif %}
  </a>

  <div id="download-otherlinks">
    <a href="#news">{{ _("Announcement") }}</a> -
    <a href="https://raw.github.com/clementine-player/Clementine/master/Changelog">{{ _("Changelog") }}</a> -
    <a href="downloads">{{ _("Show all downloads") }}</a>
  </div>
</div>

<br />
{%include "android-download.html" %}

<div style="clear: both;"></div>
<hr class="division" />

<h1>{{ _("Screenshots") }}</h1>

<table>
{% for entry in latest_screenshots %}
  {% if loop.index0 % 2 == 0 %}
    <tr>
  {% endif %}
  <td class="screenshot">
    <a href="https://clementine-player.github.io/pages/images/screenshots/{{ entry.file }}">
      <img src="https://clementine-player.github.io/pages/images/thumbnails/{{ entry.file }}" width="440" alt="{{ _("Screenshot") }}"/>
    </a>
    <p>{{ entry.title }}</p>
  </td>
  {% if loop.index0 % 2 != 0 or loop.last %}
    </tr>
  {% endif %}
{% endfor %}
</table>

<div style="clear: both;"></div>
<hr class="division" />

<h1>{{ _("News") }}</h1>
<a id="news"></a>

{% for n in news|sort(attribute="timestamp")|reverse %}
  <div>
    <h3>{{ n.title }} - {{ n.datetime|datetime(language) }}</h3>

    <p class="content">{{ n.content|safe }}</p>
  </div>
{% endfor %}
{% endblock %}
