{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Participate" %} | {% endblock %}
{% block path %}/participate{% endblock %}

{% block content %}

<h1>{% trans "Need help?" %}</h1>

<h2>IRC</h2>

<p>{% trans "Come chat with us at the" %} <span class="command">#clementine</span> {% trans "channel on Freenode." %}
{% trans "Please remember to <b>stick around after asking a question</b> - we might be in a different timezone so won't see your question right away." %}
</p>

<h2>{% trans "Forum" %}</h2>

<p>{% trans "Clementine uses Google Groups for its forum/mailing list/general discussion group." %}</p>

<ul>
  <li><a href="http://groups.google.com/group/clementine-player">{% trans "Support and discussion group" %}</a></li>
</ul>

<hr class="division" />

<h1>{% trans "Collaborate" %}</h1>

<h2>{% trans "Reporting bugs and proposing patches" %}</h2>

<p>{% trans "Clementine uses Google Code for development and issue tracking." %}
{% trans "If you have found a bug in Clementine, please head on over to the issue tracker and create a new issue." %}</p>

<ul>
  <li><a href="http://code.google.com/p/clementine-player/issues/list">{% trans "Issue tracker" %}</a></li>
</ul>

<h2>{% trans "Translating the interface" %}</h2>

<p>{% trans "If you'd like to translate Clementine into another language you can do so on the Transifex translations page." %}
{% trans "You can either do the translation directly on Transifex, or download a .po file from the site and then email it back to us." %}</p>

<ul>
  <li><a href="https://www.transifex.net/projects/p/clementine/">{% trans "Transifex translations" %}</a></li>
</ul>

<h2>{% trans "Hacking" %}</h2>

<p>{% trans "Development on Clementine happens in" %}
<a href="http://code.google.com/p/clementine-player/source/checkout">
{% trans "the git repository" %}</a>.
{% trans "Check out the code by running:" %}</p>

<pre>git clone https://code.google.com/p/clementine-player/ clementine-player</pre>

<ul>
  <li><a href="http://code.google.com/p/clementine-player/wiki/CompilingFromSource">
    {% trans "How to compile Clementine from source" %}</a>
  </li>
</ul>

<p>{% trans "If you'd prefer not to compile the development version yourself then try one of the hourly packages:" %}</p>

{# THIS LIST IS DUPLICATED IN downloads.html #}
<ul>
  <li><a href="http://builds.clementine-player.org/mac/">
    {% trans "Mac OS X development builds" %}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-lucid/">
    {% trans "Ubuntu Lucid (10.04) development builds" %}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-maverick/">
    {% trans "Ubuntu Maverick (10.10) development builds" %}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-natty/">
    {% trans "Ubuntu Natty (11.04) development builds" %}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-oneiric/">
    {% trans "Ubuntu Oneiric (11.10) development builds" %}</a></li>
    <li><a href="http://builds.clementine-player.org/ubuntu-precise/">
    {% trans "Ubuntu Precise (12.04) development builds" %}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-quantal/">
    {% trans "Ubuntu Quantal (12.10) development builds" %}</a></li>
  <li><a href="http://builds.clementine-player.org/win32/">
    {% trans "Windows development builds" %}</a></li>
  <li><a href="http://buildbot.clementine-player.org/waterfall">
    {% trans "Buildbot" %}</a></li>
</ul>

<p>{% trans "There's also an Ubuntu PPA for these development builds:" %}</p>

<pre>sudo add-apt-repository ppa:me-davidsansome/clementine-dev
sudo apt-get update
sudo apt-get install clementine</pre>


<hr class="division" />
<h1>{% trans "Social Networking" %}</h1>

<p>{% trans "We'd love to see you support Clementine by joining us on your favourite social networking site!" %}</p>

<ul>
  <li><a href="http://www.facebook.com/pages/Clementine-Player/122395291132938">
    {% trans "Clementine on Facebook" %}</a>
  </li>
  <li><a href="http://twitter.com/clementine_app">
    {% trans "Clementine on Twitter" %}</a>
  </li>
  <li><a href="http://www.last.fm/group/Clementine">
    {% trans "Clementine on Last.fm" %}</a>
  </li>
  <br />
  <li style="list-style-image: none; list-style-type: none">
    <a href="https://plus.google.com/109846771540583835237/?prsrc=3"
      style="text-decoration: none;"><img
      src="https://ssl.gstatic.com/images/icons/gplus-64.png" width="64"
      height="64" style="border: 0;"></img></a>
  </li>
</ul>

{% endblock %}
