{% extends "base.html" %}
{% block title %}{{ _("Participate") }} | {% endblock %}
{% block scripts %}
  <script type="text/javascript">
    window.___gcfg = {
      lang: '{{ language }}',
      parsetags: 'onload'
    };
  </script>
  <script type="text/javascript"
      src="https://apis.google.com/js/plusone.js" async></script>
{% endblock %}
{% block path %}/participate{% endblock %}

{% block content %}

<h1>{{ _("Need help?") }}</h1>

<h2>IRC</h2>

<p>{{ _("Come chat with us at the") }} <span class="command">#clementine</span> {{ _("channel on Freenode.") }}
{{ _("Please remember to <b>stick around after asking a question</b> - we might be in a different timezone so won't see your question right away.") }}
</p>

<h2>{{ _("Forum") }}</h2>

<p>{{ _("Clementine uses Google Groups for its forum/mailing list/general discussion group.") }}</p>

<ul>
  <li><a href="http://groups.google.com/group/clementine-player">{{ _("Support and discussion group") }}</a></li>
</ul>

<hr class="division" />

<h1 id="collaborate">{{ _("Collaborate") }}</h1>

<h2>{{ _("Reporting bugs and proposing patches") }}</h2>

<p>{{ _("Clementine uses GitHub for development and issue tracking.") }}
{{ _("If you have found a bug in Clementine, please head on over to the issue tracker and create a new issue.") }}</p>

<ul>
  <li><a href="https://github.com/clementine-player/Clementine/issues">{{ _("Issue tracker") }}</a></li>
</ul>

<h2>{{ _("Translating the interface") }}</h2>

<p>{{ _("If you'd like to translate Clementine into another language you can do so on the Transifex translations page.") }}
{{ _("You can either do the translation directly on Transifex, or download a .po file from the site and then email it back to us.") }}</p>

<ul>
  <li><a href="https://www.transifex.com/projects/p/clementine/">{{ _("Transifex translations") }}</a></li>
</ul>

<h2>{{ _("Hacking") }}</h2>

<p>{{ _("Development on Clementine happens in") }}
<a href="https://github.com/clementine-player/Clementine">
{{ _("the git repository") }}</a>.
{{ _("Check out the code by running:") }}</p>

<pre>git clone https://github.com/clementine-player/Clementine.git clementine-player</pre>

<ul>
  <li><a href="https://github.com/clementine-player/Clementine/wiki/Compiling-from-Source">
    {{ _("How to compile Clementine from source") }}</a>
  </li>
</ul>

<p>{{ _("If you'd prefer not to compile the development version yourself then try one of the hourly packages:") }}</p>

{# THIS LIST IS DUPLICATED IN downloads.html #}
<ul>
  <li><a href="http://builds.clementine-player.org/mac/">
    {{ _("Mac OS X development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-precise/">
    {{ _("Ubuntu Precise (12.04) development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/ubuntu-trusty/">
    {{ _("Ubuntu Trusty (14.04) development builds") }}</a></li>
  <li><a href="http://builds.clementine-player.org/win32/">
    {{ _("Windows development builds") }}</a></li>
  <li><a href="http://buildbot.clementine-player.org/grid">
    {{ _("Buildbot") }}</a></li>
</ul>

<p>{{ _("There's also an Ubuntu PPA for these development builds:") }}</p>

<pre>sudo add-apt-repository ppa:me-davidsansome/clementine-dev
sudo apt-get update
sudo apt-get install clementine</pre>

<h2>{{ _("Remote application for Android") }}</h2>

<p>{{ _("Clementine Remote is hosted on <a href=\"https://github.com/clementine-player/Android-Remote\">another GitHub repository</a>.")}}<br/>
{{ _("You can report issues and propose patches on <a href=\"https://github.com/clementine-player/Android-Remote/issues\">its bug tracker</a>.")}}<br/>
{{ _("You can translate the interface on <a href=\"https://www.transifex.com/projects/p/clementine-remote/\">this Transifex project</a>.")}}</p>


<hr class="division" />
<h1 id="social-networking">{{ _("Social Networking") }}</h1>

<p>{{ _("We'd love to see you support Clementine by joining us on your favourite social networking site!") }}</p>

<ul>
  <li><a href="http://www.facebook.com/pages/Clementine-Player/122395291132938">
    {{ _("Clementine on Facebook") }}</a>
  </li>
  <li><a href="http://twitter.com/clementine_app">
    {{ _("Clementine on Twitter") }}</a>
  </li>
  <li><a href="http://www.last.fm/group/Clementine">
    {{ _("Clementine on Last.fm") }}</a>
  </li>
  <li style="list-style-image: none; list-style-type: none">
    <br />
    <div class="g-page"
        data-href="https://plus.google.com/109846771540583835237"
        data-rel="publisher"
        data-layout="landscape"
        data-width="450">
    </div>
  </li>
</ul>

<hr class="division" />
<h1>{{ _("Stickers") }}</h1>
<p>{{ _("You can find lovely Clementine stickers on")}} <a href="http://www.unixstickers.com/tag/clementine">UnixStickers</a>.<br/>
{{ _("They will be perfect to customise your laptop and show how much you love your favourite music player!")}}</p>

<hr class="division" />
<h1>{{ _("Donation") }}</h1>
<p>{{ _("Currently, we do not need money and as so we do not accept money donation. If you like our software and want to help us, you can <a href=\"#social-networking\">support us</a> and spread the word.")}}<br />
{{ _("You can also help by <a href=\"#collaborate\">participating to the software development, as explained above</a>.")}}<br />
{{ _("But if you still want to spend some money to make us happy, you can make a donation to one of these charity organizations we like")}} <a href="mailto:me@davidsansome.com,arnaud.bienner@gmail.com,john.maguire@gmail.com?subject=I%20made%20a%20donation%20to%20a%20charity%20organization%20on%20behalf%20of%20Clementine%20Music%20Player">{{ _("and let us know:")}}</a>
</p>
<ul>
  <li>{{ _("<a href=\"http://www.msf.org/\">M&eacute;decins Sans Fronti&egrave;res</a>") }}</li>
  <li>{{ _("<a href=\"http://www.actionagainsthunger.org/\">Action Against Hunger</a>")}}</li>
  <li>{{ _("<a href=\"https://www.eff.org/\">Electronic Frontier Foundation</a>") }}</li>
</ul>

{% endblock %}
