{% extends "base.html" %}

{% block title %}{{ _("Privacy Policy") }} | {% endblock %}
{% block path %}/privacy{% endblock %}

{% block content %}

<div class="privacy-policy">
  <div class="privacy-policy-title">
    {{ _("Privacy Policy") }}
  </div>

  <div class="privacy-policy-content">
  {{ _("Clementine and its developers do not collect any personally identifiable information in any way. Data such as web service statistics are collected only on an anonymous basis. Information such as usernames, passwords and authentication tokens for online services provided to Clementine are never transmitted from that instance of Clementine.") }}
  </div>
</div>

{% endblock %}
