{% extends "base.html" %}
{% block title %}{{ _("Screenshots") }} | {% endblock %}
{% block path %}/screenshots{% endblock %}

{% block content %}

{% if android_screenshots %}
  <h1>{{ _("Clementine Remote for Android") }} {{ android_screenshots.version }}</h1>

  <div class="phone-screenshots">
  {% for entry in android_screenshots.entries %}
    <a href="{{ entry.full }}">
      <img src="{{ entry.thumbnail }}" width="220" alt="{{ _("Screenshot") }}" loading="lazy" />
    </a>
  {% endfor %}
  </div>

  <hr class="division" />
{% endif %}

{% for group in screenshots %}
  <h1>{{ _("Version") }} {{ group.version }}</h1>

  <table class="screenshots_table">
  {% for entry in group.entries %}
    {% if not loop.index0 % 2  %}
      <tr>
    {% endif %}
    <td class="screenshot">
      <a href="{{ entry.full }}">
        <img src="{{ entry.thumbnail }}" width="440" alt="{{ _("Screenshot") }}" />
      </a>
      <p>{{ entry.title }}</p>
    </td>
    {% if loop.index0 % 2 or loop.last %}
      </tr>
    {% endif %}
  {% endfor %}
  </table>

  <hr class="division" />
{% endfor %}

{% endblock %}
