<!DOCTYPE html>
<html>
<head>
  <title>Clementine Crashes</title>
  <link href="/static/bootstrap.css" rel="stylesheet" />
  <link href="/static/style.css" rel="stylesheet" />
  <script type="text/javascript" src="/static/bootstrap.js"></script>
</head>

<body>

<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Clementine Crashes</a>
        <ul class="nav">
          <li class="active"><a href="/">All crashes</a></li>
        </ul>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}
</div>

</body>
</html>
