<!DOCTYPE html>
<html>
<head>
  <title>Clementine Crashes</title>
  <link href="/static/bootstrap.css" rel="stylesheet" />
  <link href="/static/style.css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap.js"></script>
  <script type="text/javascript" src="/static/crashes.js"></script>
</head>

<body>

<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Clementine Crashes</a>
      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">All crashes</a></li>
        </ul>
      </div>

      <p class="navbar-text pull-right">
        {% if user %}
          {{ user.email() }}
          <a href="{{ logout_url }}" class="navbar-link">Logout</a>
        {% else %}
          <a href="{{ login_url }}" class="navbar-link">Login</a>
        {% endif %}
      </ul>
    </div>
  </div>

  {% block content %}
  {% endblock %}

  {% block javascript %}
  {% endblock %}
</div>

</body>
</html>
