<!DOCTYPE html>
<html>
<head>
  <title>Clementine Crashes</title>
  <link href="/static/bootstrap.css" rel="stylesheet" />
  <link href="/static/style.css" rel="stylesheet" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap.js"></script>
</head>

<body>

<div class="container">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Clementine Crashes</a>
        <ul class="nav">
          <li class="active"><a href="/">All crashes</a></li>

        </ul>
        <ul class="nav pull-right">
          {% if user %}
            <li><a href="{{ logout_url }}">Logout</a></li>
            <span class="navbar-text">{{ user.email() }}</span>
          {% else %}
            <li><a href="{{ login_url }}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}
</div>

</body>
</html>
