{% extends 'templates/base.html' %}
{% import 'templates/crash_table.html' as crash_table %}
{% block content %}
  <form method="POST">
    {{ crash_table.render(crashes) }}

    <ul class="pager">
      {% if has_previous %}
        <li class="previous"><a href="{{ previous_url }}">&larr; Newer</a></li>
      {% else %}
        <li class="previous disabled"><a href="#">&larr; Newer</a></li>
      {% endif %}
      {% if has_next %}
        <li class="next"><a href="{{ next_url }}">Older &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a href="#">Older &rarr;</a></li>
      {% endif %}
    </ul>

    <div class="actions">
      <input type="submit" name="action" value="Merge"
             class="btn btn-primary btn-small" />
      <input type="submit" name="action" value="Delete"
             class="btn btn-danger btn-small" />
    </div>
  </form>
{% endblock %}
