body {
  padding-top: 60px;
  overflow-y: scroll;
}

table.table td {
  font-size: 10pt;
}

.table-stacktrace td {
  font-size: 10pt;
  padding: 2px 5px;
}

.table-stacktrace td.frame-number {
  padding-left: 2em;
}

.logtext {
  font-size: 9pt;
}

.logline-DEBUG {
  color: #555;
}

.logline-INFO {
  color: #000;
}

.logline-WARN {
  color: #F00;
}

.logline-ERROR {
  color: #F00;
  font-weight: bold;
}

.tab-content table:first-child tbody tr:first-child th,
.tab-content table:first-child tbody tr:first-child td,
.tab-content table.table-bordered:first-child {
  border-top: 0px;
}
