on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build docker image
        uses: docker/build-push-action@v2.2.1
        with:
          context: lambda.clementine-player.org/bio
          file: lambda.clementine-player.org/bio/Dockerfile
          push: false
          tags: |
            gcr.io/clementine-web/bio

      - name: Set up gcloud Cloud SDK environment
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: "clementine-web"
          service_account_key: ${{ secrets.GOOGLE_CREDENTIALS }}
          export_default_credentials: true

      - name: Install beta gcloud components
        run: gcloud components install beta

      - name: Configure docker auth
        run: gcloud auth configure-docker

      - name: docker push
        run: docker push gcr.io/clementine-web/bio

      - name: Deploy service to Cloud Run
        run: >
          gcloud beta run deploy bio
          --region europe-north1
          --image gcr.io/clementine-web/bio
          --platform managed
          --allow-unauthenticated
          --project clementine-web
          --set-secrets KG_API_KEY=KG_API_KEY:latest
          --service-account bio-511@clementine-web.iam.gserviceaccount.com
